@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* flash messages styling */
.add_style{
    padding-top: 50px;
    color: rgb(44, 10, 238);
    text-align: center;
}

 /* text alignment for headings */
.center-align{
    text-align: center;
    padding-top: 50px;
    font-weight: 300;
    
}

 /* styling for stories in read more info */
.form-info {
    padding-bottom: 20px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

 /* styling for buttons in edit, profile pages */
.btn-style{
    margin: 5px;
}

 /* navbar styling edited */
.nav-item{
    padding-left: 10px;
}

 /* information on read more styling */
.profile-info {
    padding-bottom: 50px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-top: 50px;
    text-align: left;
}

  /* button on profile for change password */
.btn-change{
    width: 25%;
    background-color: #0d6efd;
    height: 50px;
    padding: 0px 0px;
    text-align: center;
    color: rgb(8, 8, 8);
    margin-bottom: 20px;
}

@media(max-width:576px) {

.btn-change{
    width: 60%;
}
}

/* comments styling on read more page */

.comments-heading{
    color: darkblue;
    padding-top: 25px;
}

.comments{
    padding-bottom:20px;
    background-color: rgb(228, 225, 225);
}

.comments-input{
    padding-top: 100px;
}



/* travel story cards styling */

.card{
    border-radius: 15px;
   font-family: 'Quicksand', sans-serif ;
}


 /* styling for textarea box in stories */

 #experience{
     height: 10rem;
     padding-top: 31px;
 }

 @media(max-width:576px) {

    #experience{
        height: 15rem;
        padding-top: 90px;
    }
    }

@media(max-width:800px) and (min-width:580px) {

        #experience{
            height: 12rem;
            padding-top: 55px;
        }
        }