@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* flash messages styling */
.add_style {
	padding-top: 50px;
	color: rgb(44, 10, 238);
	text-align: center;
}

/* text alignment for headings */
.center-align {
	text-align: center;
	padding-top: 10px;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
}

/* styling for stories in read more info */
.form-info {
	padding-bottom: 20px;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
	font-size: large;
}

/* styling for buttons in edit, profile pages */
.btn-style {
	margin: 5px;
}

/* navbar styling edited */
.nav-item {
	padding-left: 10px;
}

/* information on read more styling */
.profile-info {
	padding-bottom: 50px;
	font-family: 'Quicksand', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	padding-top: 50px;
	text-align: left;
}

/* button on profile for change password */
.btn-change {
	width: 25%;
	background-color: #0d6efd;
	height: 50px;
	padding: 0px 0px;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

@media(max-width:576px) {
	.btn-change {
		width: 75%;
	}
}

@media(max-width:800px) and (min-width:580px) {
	.btn-change {
		width: 45%;
	}
}

/* comments styling on read more page */
.comments-heading {
	color: darkblue;
	padding-top: 25px;
	font-family: 'Quicksand', sans-serif;
}

.comments {
	padding-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.comments-input {
	padding-top: 100px;
	font-family: 'Quicksand', sans-serif;
}

.each-comment {
	background-color: whitesmoke;
	border-radius: 15px;
	height: auto;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* travel story cards styling */
.card {
	border-radius: 15px;
	font-family: 'Quicksand', sans-serif;
	width: auto;
}

/* styling for textarea box in stories */
#experience {
	height: 10rem;
	padding-top: 31px;
}

@media(max-width:576px) and (min-width:370px){
	#experience{
		height: 15rem;
		padding-top: 45px;
	}
}

@media(max-width:800px) and (min-width:580px) {
	#experience {
		height: 12rem;
		padding-top: 30px;
	}
}

@media(max-width:369px){
	#destinationAirportCode, #dateOfJourney, #experience{
		padding-top: 60px;
	}
}

/* font changes across the forms */

.form-control,
.form-floating {
	font-family: 'Quicksand', sans-serif;
}

#submitButton,#sendButton {
	font-family: 'Quicksand', sans-serif;
}

.btn-font {
	font-family: 'Quicksand', sans-serif;
}
