.add_style{
    padding-top: 50px;
    color: rgb(44, 10, 238);
    text-align: center;
}

.center-align{
    text-align: center;
    padding-top: 50px;
    font-weight: 300;
}

.form-info {
    padding-bottom: 20px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    font-size: large;
}

.btn-style{
    margin: 5px;
}