{% extends "base.html" %}
{% block content %}

<h3 class="center-align">
    Add your travel story
</h3>

<!-- form html from start bootstrap -->
<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action="{{url_for('add_story')}}">
        <div class="form-floating mb-3">
            <select class="form-select" id="category_name" name="category_name" aria-label="category">
                <option value=""></option>
                {% for option in category %}
                    <option value="{{option.category_name}}">{{option.category_name}}</option>
                {% endfor %}
            </select>
            <label for="category_name">Choose Category</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="originAirportCode" name="originAirportCode" type="text" minlength="2"
                maxlength="20" placeholder="Origin ( Airport Code)" data-sb-validations="required" />
            <label for="originAirportCode">Origin ( Airport Code)</label>
            <div class="invalid-feedback" data-sb-feedback="originAirportCode:required">
                Origin ( Airport Code) is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="originCountry" name="originCountry" type="text" minlength="2" maxlength="20"
                placeholder="Origin country" data-sb-validations="required" />
            <label for="originCountry">Origin country</label>
            <div class="invalid-feedback" data-sb-feedback="originCountry:required">
                Origin country is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="transitAirportCode" name="transitAirportCode" type="text" minlength="2"
                maxlength="20" placeholder="Transit( Airport Code)" data-sb-validations="" />
            <label for="transitAirportCode">Transit( Airport Code)</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="transitCountry" name="transitCountry" type="text" minlength="2"
                maxlength="20" placeholder="Transit Country" data-sb-validations="" />
            <label for="transitCountry">Transit Country</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="destinationAirportCode" name="destinationAirportCode" type="text"
                minlength="2" maxlength="20" placeholder="Destination ( Airport code)" data-sb-validations="required" />
            <label for="destinationAirportCode">Destination ( Airport code)</label>
            <div class="invalid-feedback" data-sb-feedback="destinationAirportCode:required">
                Destination ( Airport code) is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="destinationCountry" name="destinationCountry" type="text" minlength="2"
                maxlength="20" placeholder="Destination country" data-sb-validations="required" />
            <label for="destinationCountry">Destination country</label>
            <div class="invalid-feedback" data-sb-feedback="destinationCountry:required">
                Destination country is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="dateOfJourney" name="dateOfJourney" type="text"
                placeholder="Date of Journey (dd/mm/yyyy)" data-sb-validations="required" />
            <label for="dateOfJourney">Date of Journey (dd/mm/yyyy)</label>
            <div class="invalid-feedback" data-sb-feedback="dateOfJourney:required">
                Date of Journey is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="noOfAdults" name="noOfAdults" type="number" placeholder="No of Adults"
                data-sb-validations="required" />
            <label for="noOfAdults">No of Adults</label>
            <div class="invalid-feedback" data-sb-feedback="noOfAdults:required">
                No of Adults is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="kidsUnder12" name="kidsUnder12" type="number" placeholder="Kids under 12"
                data-sb-validations="" />
            <label for="kidsUnder12">Kids under 12</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="kidsUnder6" name="kidsUnder6" type="number" placeholder="Kids under 6"
                data-sb-validations="" />
            <label for="kidsUnder6">Kids under 6</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="covidReport" name="covidReport" aria-label="COVID report">
                <option value=""></option>
                <option value="Negative RT PCR needed">Negative RT PCR needed</option>
                <option value="No test report for fully Vaccinated">No test report for
                    fully Vaccinated</option>
                <option value="Antigen test report only">Antigen test report only</option>
                <option value="No test report required">No test report required</option>
            </select>
            <label for="covidReport">COVID report</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="experience" name="experience" type="text" minlength="5" maxlength="800"
                placeholder="Please share your experience like
             Quarantine rules, documents needed, rules in transit, rules
              related to kids etc" style="height: 10rem;" data-sb-validations="required">
            </textarea>
            <label for="experience">Please share your experience like Quarantine rules,
                documents needed, rules in transit, rules related to kids etc</label>
            <div class="invalid-feedback" data-sb-feedback="experience:required">Please
                share your experience like Quarantine rules, documents needed, rules in transit,
                rules related to kids etc is required.</div>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Share my story</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}