{% extends "base.html" %}
{% block content %}

<div class="container px-5 my-5">
  <!-- user's profile -->
  <div class="row">
    <h3 class="center-align">
      <strong> {{username}}'s Profile</strong>
    </h3>
  </div>
  <!-- user information -->
  <div class="row profile-info">
    <h4> Your Email Address = {{ emailaddress }}</h4>
    <h4> Your Username = {{ username }}</h4>
  </div>

  <!-- change password -->
  <div class="row ">
    <button class="btn profile-info btn-change"> Change Password</button>
  </div>

  <div class="row ">
    <div class="col-12 changepwd">
      <form id="changePwdForm" method="POST" action="{{url_for('changePassword', username= session['user'])}}">

        <!-- current password -->
        <div class="mb-3">
            <label class="form-label" for="currentPassword">Enter Current Password</label>
            <input class="form-control" id="currentPassword" name="currentPassword" type="password" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" placeholder="currentPassword" required />
        </div>
        <!-- New password -->
        <div class="mb-3">
            <label class="form-label" for="newPassword">Enter New Password</label>
            <input class="form-control" id="newPassword" name="newPassword" type="password" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" placeholder="newPassword" required />
        </div>
        <!--confirm button -->
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirm</button>
        </div>
    </form> 
    </div>
  </div>

  <!-- user added stories -->
  <div class="row profile-info">
    <h4 > Your Stories</h4>
    {% for story in travel_stories %}
    {% if session.user|lower == story.added_by|lower %}
    <div class="col-4">
      <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{story.origin}}- {{story.destination}} </h5>
            <h6 class="card-title">{{story.origin_country}}- {{story.destination_country}} </h6>
            <p class="card-text">{{story.date_of_journey}}</p>
            <a href="{{url_for('edit_story', story_id = story._id)}}" class="btn btn-style btn-primary">Edit</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-style btn-danger btn-primary confirm" data-toggle="modal">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteStory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Delete your Story?</h5>
                  </div>
                  <div class="modal-body">
                    <p> Are you sure you want to Delete the Story? </p>
                  </div>
                  <div class="modal-footer">
                    <a href="{{url_for('profile', username = username)}}" type="button" id="cancelbutton"
                      class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                    <a href="{{url_for('delete_story', story_id = story._id)}}" id="deletebutton"
                      class="btn btn-primary">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">Added by : {{story.added_by}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
{% endblock %}