{% extends "base.html" %}
{% block content %}

<!-- travel story full information -->

<div class="container px-5 my-5 ">
    {% for story in travel_stories %}
    <div class="row form-info ">
        <div class="col-lg-8 ">
            <strong>Category </strong> : {{story.category_name}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Origin </strong>: {{story.origin}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Origin Country </strong> : {{story.origin_country}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Transit </strong> : {{story.transit}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Transit Country </strong>: {{story.transit_country}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong>Destination </strong>: {{story.destination}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Destination Country </strong> : {{story.destination_country}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong>Date of Journey </strong> : {{story.date_of_journey}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> No of Adults </strong> : {{story.no_of_adults}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Kids Under 12 </strong> : {{story.kids_under_12}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Kids Under 6 </strong> : {{story.kids_under_6}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Covid Report </strong> : {{story.covid_report}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> My Experience </strong> : {{story.your_experience}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Added By </strong> : <em>{{story.added_by}} </em>
        </div>
    </div>

    <!-- edit and delete buttons for the user in session -->
    {% if session.user|lower == story.added_by|lower %}
    <a href="{{url_for('edit_story', story_id = story._id)}}" class="btn btn-style btn-primary">Edit</a>
    {% endif %}
    {% if session.user|lower == story.added_by|lower or session.user|lower == "admin"|lower %}
    <button type="button" class="btn btn-style btn-danger btn-primary confirm" data-toggle="modal">
        Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteStory" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Delete your Story?</h5>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to Delete the Story? </p>
                </div>
                <div class="modal-footer">
                    <a href="{{url_for('read_more', story_id = story._id)}}" id="cancelbutton" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</a>
                    <a href="{{url_for('delete_story', story_id = story._id)}}" id="deletebutton"
                        class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- comments display which are made by user -->
    <br>
    <div class="row comments-heading">
        <h3> Comments</h3>
    </div>
    <hr>
    {% for comment in comments %}

    <div class="row comments">
        {% if session.user|lower != "admin"|lower %}
        <div class="col-12 ">
            <p class="each-comment"> <i class=" far fa-user"></i> <strong>{{comment.commenter}} </strong>:
                {{comment.comment}}</p>
        </div>
        {% endif %}
        {% if session.user|lower == "admin"|lower %}
        <div class="col-12 col-sm-9 ">
            <p class="each-comment"> <i class=" far fa-user"></i> <strong>{{comment.commenter}} </strong>:
                {{comment.comment}}</p>
        </div>
        <div class="col-12 col-sm-3">
            <button type="button" class="btn btn-style btn-danger btn-primary commentConfirm" data-toggle="modal">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCommentTitle">Delete this comment?</h5>
                        </div>
                        <div class="modal-body">
                            <p> Are you sure you want to Delete the comment? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{url_for('read_more', story_id = story._id)}}" id="cancelCommentButton"
                                class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                            <a href="{{url_for('delete_comment', comment_id = comment._id, story_id = story._id)}}"
                                id="deleteCommentButton" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <br>
    </div>
    {% endfor %}

    <!-- comments input section for user to interact -->
    <div class="row comments-input ">
        <h4> Leave your comments below </h4>
    </div>

    <form class="needs-validation" id="commentform" method="POST" action="{{url_for('comments', story_id = story._id)}}"
        novalidate>
        <div class="form-row">

            <div class="form-floating mb-3">
                <input class="form-control" id="user" name="user" type="text" minlength="2" maxlength="50"
                    placeholder="Input your Name" required />
                <label for="user">Your Name</label>
                <div class="invalid-feedback">
                    Text is required.
                </div>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="comment" name="comment" type="text" minlength="2" maxlength="300"
                    placeholder="Make a Comment" required />
                <label for="comment">Your comment</label>
                <div class="invalid-feedback">
                    Text is required.
                </div>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="sendButton" type="submit">Send</button>
            </div>
        </div>
    </form>

    {% endfor %}
</div>

{% endblock %}