{% extends "base.html" %}
{% block content %}


<div class="container px-5 my-5 ">
    {% for story in travel_stories %}
    <div class="row form-info ">
        <div class="col-lg-8 ">
            <strong>Category </strong> : {{story.category_name}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Origin </strong>: {{story.origin}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Origin Country </strong> : {{story.origin_country}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Transit </strong> : {{story.transit}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Transit Country </strong>: {{story.transit_country}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong>Destination </strong>: {{story.destination}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Destination Country </strong> : {{story.destination_country}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong>Date of Journey </strong> : {{story.date_of_journey}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> No of Adults </strong> : {{story.no_of_adults}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Kids Under 12 </strong> : {{story.kids_under_12}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Kids Under 6 </strong> : {{story.kids_under_6}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Covid Report </strong> : {{story.covid_report}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> My Experience </strong> : {{story.your_experience}}
        </div>
    </div>

    <div class="row form-info">
        <div class="col-lg-8 ">
            <strong> Added By </strong> : <em>{{story.added_by}} </em>
        </div>
    </div>


    {% if session.user|lower == story.added_by|lower %}
    <a href="{{url_for('edit_story', story_id = story._id)}}" class="btn btn-style btn-primary">Edit</a>
    <a href="{{url_for('delete_story', story_id = story._id)}}" class="btn btn-style btn-primary btn-danger ">Delete</a>
    {% endif %}


    {% for comment in comments %}
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <p>{{comment.comment}}</p>
        </div>
    </div>
    {% endfor %}
    
    
    <div class="row">
        <p> Comments : </p>
    </div>

    <form class="needs-validation" id="commentform" method="POST" action="{{url_for('comments', story_id = story._id)}}" novalidate>
        <div class="form-row">
            <div class="form-floating mb-3">
                <input class="form-control" id="comment" 
                    name="comment" type="text" minlength="2" maxlength="300"
                    placeholder="Make a Comment" required/>
                <label for="commentform"></label>
                <div class="invalid-feedback" >
                    Text is required.
                </div>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="sendButton" type="submit">Send</button>
            </div>

    </form>
    
    {% endfor %}
</div>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}