{% extends "base.html" %}
{% block content %}

{% for story in travel_stories %} 
        {{story.category}}<br>
        {{story.origin}}<br>
        {{story.origin_country}}<br>
        {{story.transit}}<br>
        {{story.transit_country}}<br>
        {{story.destination}}<br>
        {{story.destination_country}}<br>
        {{story.date_of_journey}}<br>
        {{story.no_of_adults}}<br>
        {{story.kids_under_12}}<br>
        {{story.kids_under_6}}<br>
        {{story.covid_report}}<br>
        {{story.your_experience}}<br>

   {% endfor %}
   {% endblock %}